body,
html {
  height: 100%;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100%;

  background-image: url("/images/finance.jpg");
  background-color: white;
  background-size: cover;
  opacity: 80%;
}

.flexbox-container > * {
  padding: 0;
  margin: 0;
  opacity: 100%;
}

.flexbox-item {
  width: 100%;
  margin: 10px;
  flex-shrink: 0;
  opacity: 100%;
  border-radius: 25px;
  border: 20px solid white;
  background-color: white;
}

.flexbox-item-1 {
  text-align: center;
}

.flexbox-item-2 {
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: stretch;
  grid-template-areas:
    "title"
    "info";
}

.title {
  grid-area: title;
  text-align: center;
}

.info {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "tableInfo newReimb";
  grid-area: info;
}

.tableInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tableTitle"
    "table";
  grid-area: tableInfo;
}

.tableTitle {
  grid-area: tableTitle;
}

.table {
  grid-area: table;
}

.newReimb {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.8fr 1fr 1.2fr 1.2fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "newReimbTitle"
    "amount"
    "type"
    "description"
    "receipt"
    "bottom";
  grid-area: newReimb;
}

.newReimbTitle {
  grid-area: newReimbTitle;
}

.amount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "amountLabel amountInput";
  grid-area: amount;
}

.amountLabel {
  grid-area: amountLabel;
}

.amountInput {
  grid-area: amountInput;
}

.type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "typeLabel typeInput";
  grid-area: type;
}

.typeLabel {
  grid-area: typeLabel;
}

.typeInput {
  grid-area: typeInput;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "descriptionLabel descritpionInput";
  grid-area: description;
}

.descriptionLabel {
  grid-area: descriptionLabel;
}

.descriptionInput {
  grid-area: descriptionInput;
}

.receipt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "receiptLabel receiptInput";
  grid-area: receipt;
}

.receiptLabel {
  grid-area: receiptLabel;
}

.receiptInput {
  grid-area: receiptInput;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "errorMessage"
    "button";
  grid-area: bottom;
}

.errorMessage {
  grid-area: errorMessage;
}

.button {
  grid-area: button;
}

img {
  color: white;
  text-align: center;
}

h1 {
  font-size: 1em;
  font-weight: bolder;
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
